@import 'basis/reset';
@import 'basis/fonts';
@import 'header';
@import 'navbar';
@import 'carrusel';
@import 'servicios';
@import 'sistema';
@import 'contacto';
@import 'footer';
@import 'components/loggin';
@import 'elements-plataform/plataforma';
@import 'elements-plataform/huerta';
@import 'elements-plataform/small-systems';
@import 'elements-plataform/load-elements/clientes';
@import 'galery';

body {
    font-family: $font-family-principal;
    font-size: $font-size-base;
}