@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../special/mixins';
@import '../../special/extends';

.system-container {
    @extend %load-elemtens-container;
    width: 100%;

    #access-form, #clima-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
        grid-auto-rows: 3em;
        justify-items: center;
        align-items: center;
    
        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;
    
            input {
                @extend %inputs-forms-platform;
            }   
        }
    
        input[type='submit'] {
            @extend %input-button-platform;
        }
    }

    .access-clima-list-container {
        @extend %container-dinamic-list;
    
        .sist-encabezado {
            @extend %header-dinamic-list;
        }

        #lista-accesos, #lista-climas {

            .access-clima-item {
                @include list-item(3);
                align-items: center;

                &:nth-child(2n+1){
                    background-color: $dark-middle;

                    button:hover {
                        color: $dark-middle;
                        background-color: $font-primario;
                     }
                }

                button {
                    @extend %buttons-dinamic-list;
                }
            }
        }
    }

}
