@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../special/mixins';

.user-container {
    font-family: $font-family-principal;
    background-color: #222;
    color: $font-secundario;
    width: 80%;
    border-radius: 1em;
    padding: nth($padding, 4);
    margin: auto;

    #user-form {
        display: grid;
        grid-template-columns: 35% 35% 30%;
        grid-template-rows: 4em;
        justify-items: center;
        align-items: center;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            input {
                padding: nth($padding, 1)*.7 nth($padding, 1);
                margin: nth($padding, 1)/2 0;
                background-color: #222;
                color: $font-primario;
                border-radius: .7em;
                border: 1px $font-primario solid;
                outline: none;

                &:focus {
                    background-color: #333;
                }
            } 
        }

        input[type='submit'] {
            width: 75%;
            font-size: $font-size-base;
            margin: nth($padding, 1)/2 0;
            padding: nth($padding, 1)/2 0;
            align-self: flex-end;
            background-color: #222;
            color: $font-primario;
            border-radius: 1em;
            border: 1px $font-primario solid;
            outline: none;

            &:hover {
                background-color: $font-primario;
                color: #222;
            }
        }
    }

    // Lista de usuarios cargados
    .user-list-container {
        width: 100%;
        border-radius: 1em;
        padding: nth($padding, 4) nth($padding, 4) 0;
        margin: auto;
    
        .sist-encabezado {
            text-align: center;
            font-size: $font-size-cards-titles;
            border-bottom: 1px $font-primario solid;
            padding-bottom: nth($padding, 1);
            margin-bottom: nth($margin, 2);
        }

        ul {
        
            .user-item {
                padding: nth($padding, 1) nth($padding, 2);
                border-radius: 1em;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(2, 2em);
                justify-items: center;
                align-items: center;
                justify-content: space-between;
    
                &:nth-child(2n+1){
                    background-color: #333;
                    
                    button:hover {
                        background-color: $font-primario;
                        color: #333;
                    }
                }   
                
                button {
                    width: 75%;
                    font-size: $font-size-base;
                    margin: nth($padding, 1)/2 0;
                    padding: nth($padding, 1)/2 0;
                    background-color: transparent;
                    color: $font-primario;
                    border-radius: 1em;
                    border: 1px $font-primario solid;
                    outline: none;

                    &:hover {
                        background-color: $font-primario;
                        color: #222;
                    }
                }
            }
        }
    }
}