@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../basis/reset';
@import '../../special/mixins';
@import '../../special/extends';

.system-container {
    @extend %load-elemtens-container;
    width: 100%;

    .system-header {
        padding: 0 nth($padding, 4);

        h2 {
            @extend %header-form-list;
        }
    }

    #ilumination-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16em, 1fr));
        grid-auto-rows: $auto-row-size;
        grid-gap: $gap-base 0;
        justify-items: center;
        align-items: center;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            input {
                @extend %inputs-forms-platform;

            }   
        }

        input[type='submit'] {
            @extend %input-button-platform;
            grid-column: 3 / 4;
        }
    }

    .ilumination-list-container {
        @extend %container-dinamic-list;
    
        .sist-encabezado {
            @extend %header-dinamic-list;
        }

        #lista-luminarias {

            .no-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: nth($padding, 1) nth($padding, 2);
                background-color: $dark-middle;
                border-radius: $base-radius;
            }

            .luz-item {
                @include list-item(4);
                align-items: center;

                &:nth-child(2n+1){
                    background-color: $dark-middle;

                    button:hover {
                        color: $dark-middle;
                        background-color: $font-primario;
                     }
                }

                button {
                    @extend %buttons-dinamic-list;
                }
            }
        }
    }
}