@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../basis/reset';
@import '../../special/mixins';
@import '../../special/extends';

.system-container {
    @extend %load-elemtens-container;
    width: 100%;

    #pool-form {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
        grid-auto-rows: $auto-row-size;
        justify-items: center;
        align-items: center;
        grid-gap: $gap-base 0;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            input, select {
                @extend %inputs-forms-platform;
            }   
        }

        .input-cantidad-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 75%;

            .input-container {
                width: 38%;
            }
        }

        input[type='submit'] {
            @extend %input-button-platform;
        }

    }

    .pool-list-container {
        @extend %container-dinamic-list;
    
        .sist-encabezado {
            @extend %header-dinamic-list;
        }

        #lista-pool {

            .no-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: nth($padding, 1) nth($padding, 2);
                background-color: $dark-middle;
                border-radius: $base-radius;
            }

            .pool-item {
                @include list-item(15em);
                align-items: center;
                grid-gap: $gap-base 0;
                padding: nth($padding, 2) 0 !important;

                &:nth-child(2n+1){
                    background-color: $dark-middle;

                    button:hover {
                        color: $dark-middle;
                        background-color: $font-primario;
                     }
                }

                button {
                    @extend %buttons-dinamic-list;
                }
            }
        }
    }
}
