@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../basis/reset';
@import '../../special/mixins';
@import '../../special/extends';

.user-container {
    @extend %load-elemtens-container;
    width: 85%;

    .user-header {
        padding: 0 nth($padding, 4);

        h2 {
            @extend %header-form-list;
        }
    }
    
    #user-form {
        display: grid;
        grid-template-columns: repeat(3, minmax(13em,1fr));
        grid-template-rows: $auto-row-size;
        grid-gap: $gap-base 0;
        justify-items: center;
        align-items: center;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            input {
                @extend %inputs-forms-platform;
            } 
        }

        input[type='submit'] {
            @extend %input-button-platform;
        }
    }

    // Lista de usuarios cargados
    .user-list-container {
        @extend %container-dinamic-list;
    
        .sist-encabezado {
            @extend %header-dinamic-list;
        }

        ul {
            .no-item {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: nth($padding, 1) nth($padding, 2);
                background-color: $dark-middle;
                border-radius: $base-radius;
            }
        
            .user-item {
                border-radius: $base-radius;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(2, $auto-row-size * .7);
                justify-items: center;
                align-items: center;
                align-content: center;
                justify-content: space-between;
                padding: nth($padding, 1) nth($padding, 2);
    
                &:nth-child(2n+1){
                    background-color: $dark-middle;
                    
                    button:hover {
                       color: $dark-middle;
                       background-color: $font-primario;
                    }
                }   

                p {
                    margin: 0;
                }
                
                button {
                    @extend %buttons-dinamic-list;
                }
            }
        }
    }
}