@import '../../basis/variables';
@import '../../basis/fonts';
@import '../../special/mixins';
@import '../../special/extends';
@import 'luminarias';

.user-container {
    font-family: $font-family-principal;
    color: $font-secundario;
    background-color: $dark-opacity;
    border-radius: $base-radius;
    width: 80%;
    padding: nth($padding, 4);
    margin: auto;

    #user-form {
        display: grid;
        grid-template-columns: repeat(3, minmax(13em,1fr));
        grid-template-rows: 4em;
        justify-items: center;
        align-items: center;

        .input-container {
            display: flex;
            flex-direction: column;
            width: 75%;

            input {
                @extend %inputs-forms-platform;

            } 
        }

        input[type='submit'] {
            @extend %input-button-platform;
        }
    }

    // Lista de usuarios cargados
    .user-list-container {
        border-radius: $base-radius;
        width: 100%;
        padding: nth($padding, 4) nth($padding, 4) 0;
        margin: auto;
    
        .sist-encabezado {
            text-align: center;
            font-size: $font-size-cards-titles;
            border-bottom: $border-platform;
            padding-bottom: nth($padding, 1);
            margin-bottom: nth($margin, 2);
        }

        ul {
        
            .user-item {
                border-radius: $base-radius;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                grid-template-rows: repeat(2, 2em);
                justify-items: center;
                align-items: center;
                justify-content: space-between;
                padding: nth($padding, 1) nth($padding, 2);
    
                &:nth-child(2n+1){
                    background-color: $dark-middle;
                    
                    button:hover {
                       color: $dark-middle;
                       background-color: $font-primario;
                    }
                }   
                
                button {
                    color: $font-primario;
                    font-size: $font-size-base;
                    background-color: transparent;
                    border-radius: $base-radius;
                    border: $border-platform;
                    outline: none;
                    margin: nth($padding, 1)/2 0;
                    padding: nth($padding, 1)/2 0;
                    width: 75%;

                    &:hover {
                        color: $dark-opacity;
                        background-color: $font-primario;
                    }
                }
            }
        }
    }
}