/* Extends */

/* Contenedores de parrafo y video */
%sistema-block {
    min-width: 21em;
    text-align: justify;
}

%img-default {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Flex */ 
%flex-vertical-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

%flex-horizontal-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Formularios de carga de datos */
// Inputs

%inputs-forms-platform {
    color: $font-primario;
    background-color: $dark-opacity;
    border-radius: $base-radius * .7;
    border: $border-platform;
    outline: none;
    padding: nth($padding, 1)*.7 nth($padding, 1);
    margin: nth($padding, 1)/2 0;

    &:focus {
        background-color: $dark-middle;
    }
}

// Input type button

%input-button-platform{
    font-size: $font-size-base;
    color: $font-primario;
    background-color: $dark-opacity;
    border-radius: $base-radius;
    border: $border-platform;
    outline: none;
    align-self: flex-end;
    width: 75%;
    margin: nth($margin, 1)/2 0;
    padding: nth($padding, 1)/2 0;

    &:hover {
        color: $dark-opacity;
        background-color: $font-primario;
    }
}

// Contenedor de form de carga
%load-elemtens-container {
    font-family: $font-family-principal;
    color: $font-secundario;
    background-color: $dark-opacity;
    border-radius: $base-radius * 1.3;
    padding: nth($padding, 4);
    margin: auto;
}

// Lista dinamica plataforma
%container-dinamic-list {
    border-radius: $base-radius;
    width: 100%;
    padding: nth($padding, 4) nth($padding, 4) 0;
    margin: auto;
}

%header-dinamic-list {
    text-align: center;
    font-size: $font-size-cards-titles;
    border-bottom: $border-platform;
    padding-bottom: nth($padding, 1);
    margin-bottom: nth($margin, 2);
}

// Buttons
%buttons-dinamic-list {
    color: $font-primario;
    font-size: $font-size-base;
    background-color: transparent;
    border-radius: $base-radius;
    border: $border-platform;
    outline: none;
    margin: nth($padding, 1)/2 0;
    padding: nth($padding, 1)/2 0;
    width: 75%;

    &:hover {
        color: $dark-opacity;
        background-color: $font-primario;
    }
}