/* Mixins */
@import '../basis/variables';
@import 'frames';

/* Sistema */
@mixin sist-card-size-position ($height, $position) {
    width: 100%;
    height: $height;
    position: $position;
}

/* Contacto */
@mixin bg-img ($img, $attach){
    background-image: $img;
    background-repeat: no-repeat;
    background-attachment: $attach;
    background-size: cover;
    background-position: center;
}

/* Plataforma - formularios de carga de datos */

// Items de la lista dinamica
@mixin list-item ($numColums) {
    padding: nth($padding, 1) nth($padding, 2);
    border-radius: .5em;
    display: grid;
    grid-template-columns: repeat($numColums, 1fr);
    justify-items: center;
    justify-content: space-between;
}


//////////////////////////////////////
@mixin sensors-styles ($grid-area){
    grid-area: $grid-area;
    margin-right: nth($margin, 4);

    h4 {
        margin: 0 nth($margin, 2);
    }

    .sensor-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .sensor {
            text-align: center;
            margin: nth($margin, 1) nth($margin, 2);
            padding: nth($padding, 2);
            flex-grow: 1;
            flex-shrink: 1;
            max-width: 45%;
            background-color: #444;
            border-radius: 1em;
            @media (max-width:992px) {
                max-width: 75%;
            }

            p{
                margin-top: nth($margin, 1);
            }
            
        }
    }
}


/* Transiciones */
@mixin transition ($transition){
    transition: $transition;
    -moz-transition: $transition;
    -webkit-transition: $transition;
    -o-transition: $transition;
}

@mixin transition-1 ($transition1, $transition2){
    transition: $transition1, $transition2;
    -moz-transition: $transition1, $transition2;
    -webkit-transition: $transition1, $transition2;
    -o-transition: $transition1, $transition2;
}

/* Transformaciones */
@mixin transform ($transform){
    transform: $transform;
    -moz-transform: $transform;
    -webkit-transform: $transform;
    -o-transform: $transform;
}

/* Animaciones */
@mixin animation ($animation){
    animation: $animation;
    -moz-animation: $animation;
    -webkit-animation: $animation;
    -o-animation: $animation;
}