/* Form de loggin */
@import '../basis/variables';


.form-border {
    border: $border-form;
    border-radius: nth($padding, 4) / 2;
    color: $font-primario;
    form {
        width: 70%;
    }


    .btn-color-hover:hover {
        color: $font-secundario;
    }

}
/* Fin form */