/* Fonts */
$font-family-principal: 'Montserrat', sans-serif;

/* Tamanio fonts en textos */
$font-size-base: 1em;
$font-size-carrusel: $font-size-base + 0.1em;
$font-size-cover: $font-size-base * 2;

/* Tamanio fonts en titulos */
$font-size-section-titles:$font-size-base * 2;
$font-size-cards-titles:$font-size-base + .5em;