/* Variable */
/* Colores */
$font-primario: #f7963f;
$font-secundario: beige;
$font-hover: rgb(148, 148, 148);
$dark: #444;
$dark-middle: #333;
$hover-dark: #666;
$dark-opacity: #222;

/* Opacidad */
$opacity: .5, .6, .7, .8;

/* Margenes y paddings */
$margin: .5em, 1em, 1.5em, 2em;
$padding: .5em, 1em, 1.5em, 2em;
$gap-base: 0.8em;

/* Bordes */
$border-form: 2px solid $font-primario;
$border-platform: 1px $font-primario solid;
/* Border radius */
$base-radius: 1em;

/* Tamanios */
$logo-size: 4em;
$auto-row-size: 4em;
$social-size: 2.5em;
$carr-text-container-h-1: 20em;
$carr-text-container-h-2: 13.5em;
$carr-text-container-h-3: 18.5em;
